name: Build Image

on:
  push:
    branches:
      - main
    paths:
      - 'tdf-hq/**'
      - '.dockerignore'
      - 'fly.toml'
      - '.github/workflows/build.yml'
  workflow_dispatch:
  workflow_call:
    inputs:
      image_repo:
        description: Docker image repository override
        required: false
        type: string
      image_tag:
        description: Docker image tag override
        required: false
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

env:
  DOCKER_IMAGE_REPO: ${{ github.event.inputs.image_repo || 'diegueins680/tdf-hq' }}
  DOCKER_IMAGE_TAG: ${{ github.event.inputs.image_tag || github.sha }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./tdf-hq/Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            SOURCE_COMMIT=${{ github.sha }}
            BUILD_TIME=${{ github.event.head_commit.timestamp || github.run_started_at }}
          tags: |
            ${{ env.DOCKER_IMAGE_REPO }}:${{ env.DOCKER_IMAGE_TAG }}
